<%= render 'layouts/users_header'%>

<div class="container">
        <div class="row">
                <div class="col-md-12">
                        <h1>新規投稿</h1>
                </div>
        </div>
</div>

<!-- form_for部分 -->

<%= form_for(@post, url: users_posts_path) do |f| %>
        <div style="margin:50px 0 0 0;">
                <div class="container"   style="padding: 20px 0;
                                                border-left: solid 7px #5d627b;
                                                box-shadow: 2px 2px 4px gray;
                                                background-color: white;">
                        <div class="row" style="height:320px;width:800px;margin:20px 0 0 0;margin: 0 auto;">
                                <div class="col-md-12" style="height:320px;">
                                        <h4>タイトル</h4>
                                        <%= f.text_field :title, class:"form-control" %>
                                        <h4>本文</h4>
                                        <%= f.text_area :body, style:"height:200px;width:765px;", class:"form-control" %>
                                </div>
                        </div>
                        <div class="row" style="width:800px;margin: 0 auto;margin-top: 50px;">
                                <div class="col-md-12">
                                <%= f.attachment_field :image %>
                                </div>
                        </div>
                        <div class="row" style="width:800px;margin: 0 auto;margin-top: 50px;">
                                <div class="col-md-12">
                                <%= f.submit '投稿', class:'btn btn-default' %>
                                </div>
                        </div>
                </div>
        </div>
<% end %>