<%= render 'layouts/users_header'%>

<% if @post.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div style="text-align: center;margin-bottom:20px;">
        <h1 class="midashi">新規投稿</h1>
</div>

<!-- form_for部分 -->

<%= form_for(@post, url: users_posts_path) do |f| %>
        <div style="margin:50px 0;">
                <div class="container"   style="padding: 20px 0;
                                                border-left: solid 7px #5d627b;
                                                box-shadow: 2px 2px 4px gray;
                                                background-color: white;">
                        <div class="row" style="height:320px;
                                                margin: 0 auto;">
                                <div class="col-md-12" style="height:320px;">
                                        <h4>タイトル（150文字まで）</h4>
                                        <%= f.text_field :title, class:"form-control" %>
                                        <h4>本文（280文字まで）</h4>
                                        <%= f.text_area :body, style:"height:200px;", class:"form-control", id: "input-text" %>
                                        <button id="counter" type="button" class="btn btn-info btn-sm">0文字</button>
                                </div>
                        </div>
                        <div class="row" style="width:800px;margin: 0 auto;margin-top: 50px;">
                                <div class="col-md-12">
                                <%= f.attachment_field :image %>
                                </div>
                        </div>
                        <div class="row" style="width:800px;margin: 0 auto;margin-top: 50px;">
                                <div class="col-md-12">
                                <%= f.submit '投稿', class:'btn btn-default' %>
                                </div>
                        </div>
                </div>
        </div>
<% end %>

