<%= render 'layouts/users_header'%>

<div style="text-align: center;margin-bottom:20px;">
        <h1 class="midashi">投稿詳細</h1>
</div>

<div style="margin:50px 0 0 0;">
        <div class="container"   style="padding: 20px 0;
                                        border-left: solid 7px #5d627b;
                                        box-shadow: 2px 2px 4px gray;
                                        background-color: white;">
                <div class="row" style="margin:20px 0 0 0;margin: 0 auto;">
                        <div class="col-md-4 col-xs-12" style="">
                                <%= attachment_image_tag @post, :image, :fill, 260, 175, fallback: "no_image.jpg", class:"magnify" %>
                        </div>
                        <div class="col-md-8 col-xs-12" style="word-wrap: break-word;">
                                <p style="font-size: 25px;">
                                タイトル：<strong><%= @post.title %></strong>
                                </p>
                                
                                作成日時：<%= @post.created_at.strftime("%Y-%m-%d %H:%M") %>
                                <br>
                                更新日時：<%= @post.updated_at.strftime("%Y-%m-%d %H:%M") %>
                        </div>
                </div>
                <div class="row" style="margin: 0 auto;margin-top: 50px;">
                        <p class="col-md-12">
                        <%= @post.body %>
                        </p>
                </div>
        </div>
</div>


<div class="container">
        <div class="row">
                <h4>コメント</h4>

                        <div id="post_comments_area">
                                <%# 投稿されたコメント一覧をブログの詳細ページに表示するためのrender %>
                                <%= render partial: 'users/post_comments/index', locals: { post_comments: @post_comments } %>
                        </div>  
                <%# </div> %>
                <% if user_signed_in? %>
                <%# コメント入力欄をブログの詳細ページに表示するためのrender %>
                <%= render partial: 'users/post_comments/form', locals: { post_comment: @post_comment, post: @post } %>
                <% end %>
        </div>
</div>


