<%= render 'layouts/users_header'%>

<div class="container">
        <div class="row">
                <div class="col-sm-12">
                        <h1>ユーザー投稿詳細ページ</h1>
                </div>
        </div>
</div>

<div style="margin:50px 0 0 0;">
        <div class="container"   style="padding: 20px 0;
                                        border-left: solid 7px #5d627b;
                                        box-shadow: 2px 2px 4px gray;
                                        background-color: white;">
                <div class="row" style="width:800px;margin:20px 0 0 0;margin: 0 auto;">
                        <div class="col-sm-3" style="height:100px;">
                                <%= attachment_image_tag @post, :image, style: "height: 100px;", fallback: "no_image.jpg" %>
                        </div>
                        <div class="col-sm-9" style="word-wrap: break-word;">
                                <p style="font-size: 25px;">
                                タイトル：<strong><%= @post.title %></strong>
                                </p>
                                
                                作成日時：<%= @post.created_at.strftime("%Y-%m-%d %H:%M") %>
                                <br>
                                更新日時：<%= @post.updated_at.strftime("%Y-%m-%d %H:%M") %>
                        </div>
                </div>
                <div class="row" style="width:800px;margin: 0 auto;margin-top: 50px;">
                        <p class="col-sm-12">
                        <%= @post.body %>
                        </p>
                </div>
        </div>
</div>

<div>
    <h4>コメント</h4>
    <div id="post_comments_area">
      <%# 投稿されたコメント一覧をブログの詳細ページに表示するためのrender %>
      <%= render partial: 'users/post_comments/index', locals: { post_comments: @post_comments } %>
    </div>  
    <% if user_signed_in? %>
      <%# コメント入力欄をブログの詳細ページに表示するためのrender %>
      <%= render partial: 'users/post_comments/form', locals: { post_comment: @post_comment, post: @post } %>
    <% end %>
  </div>


  <div id="favorites_buttons_<%= @post.id %>">
      <%= render partial: 'users/favorites/favorite', locals: { post: @post } %>
    </div>

  <div id="yomitais_buttons_<%= @post.id %>">
      <%= render partial: 'users/yomitais/yomitai', locals: { post: @post } %>
    </div>