<%= render 'layouts/admins_header'%>

<div style="text-align: center;margin-bottom:20px;">
        <h1 class="midashi">ユーザー一覧</h1>
</div>


<% @users.each do |user| %>
<div class="container">
        
                <div class="row" style="height:110px;
                                        /* width:800px; */
                                        margin:20px 0 0 0;
                                        border-left: solid 7px #5d627b;
                                        box-shadow: 2px 2px 4px gray;
                                        background-color: white;">

                        <div class="col-md-10">
                                <p style="font-size: 20px;margin-top: 10px;">
                                        ユーザー：<strong><%= user.name %></strong>
                                </p>
                        </div>
                        <div class="col-md-2" style="margin-top:3px;">
                                        <% if false %>//コメントアウトしてます//<%= link_to '削除', user_registration_path(user), class:'btn btn-default btn-lg', method: :delete, data: { confirm: '削除しますか？' } %><% end %>
                                        <%= link_to "このユーザを削除", admins_user_path(user), class:"alert-link btn btn-danger", style:'color:white;', method: :delete, "data-confirm" => "本当に退会させますか？" %>
                        </div>
                </div>
</div>
<% end %>

<div style="margin-left:10px;">
        <%= paginate @users, class: "paginate" %>
<div>

<div id="page_top"><a href="#"></a></div>
