<%= form_for(@inquiry, url: { action: :confirm }) do |f| %>
  <div class="page-header">
    <h1>お問い合わせ</h1>
  </div>
 
      <% if @inquiry.errors.present? %>
        <div class="alert alert-danger" role="alert">
          <strong>入力内容にエラーがあります</strong>
          <ul>
            <% @inquiry.errors.each do |attr, error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
  <table class="table">
    <tr>
      <th class="col-md-3 text-center">名前<span class="text-danger">（必須）</span></th>
      <td class="col-md-9"><%= f.text_field :name, placeholder: '20文字以内', class:"form-control" %></td>
    </tr>
    <tr>
      <th class="col-md-3 text-center">お問い合わせ内容<span class="text-danger">（必須）</span></th>
      <td class="col-md-9"><%= f.text_area :message, placeholder: '200文字以内', class:"form-control" %></td>
    </tr>
  </table>
  <%= f.submit '確認', class: 'btn btn-primary btn-lg' %>
<% end %>