<body class="login-body">
<%# <%= render "devise/shared/error_messages", resource: resource %>
<% if @user.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <div id="login", style="height: 460px;">
      <h1 class="log-title">Sign up</h1>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        

        <div class="field-login">
          <%= f.label :ユーザーネーム %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control" %>
        </div>

        <div class="field-login">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
        </div>

        <div class="field-login">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
        </div>

        <div class="field-login">
          <%= f.label :パスワード確認 %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "登録", class: "signup_btn" %>
        </div>
      <% end %>
  </div>
</body>
      <%# <%= render "users/shared/links" %>
